MONGO_URI=mongodb+srv://Vercel-Admin-warranty_QR_database:YOUR_NEW_PASSWORD@warranty-qr-database.vbsxobf.mongodb.net/warrantydb?retryWrites=true&w=majority&appName=warranty-qr-database

JWT_SECRET=replace_with_strong_random_secret_32_chars_min

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123

APP_BASE_URL=https://tunwalwarranty.tunwal.com
NODE_ENV=production
PORT=5000