<div class="activate-page">
  <mat-card class="activate-card">
    <div class="brand-header">
      <img
        src="/assets/logo.webp"
        alt="Tunwal E-Motors Logo"
        class="brand-logo"
      />

      <div>
        <h1>Tunwal E-Motors</h1>
        <p>Warranty Registration Portal</p>
      </div>
    </div>

    <div *ngIf="loading()" class="center-state">
      <div class="spinner"></div>
      <h2>Checking QR...</h2>
      <p>Please wait while we verify this QR code.</p>
    </div>

    <div *ngIf="!loading() && error()" class="error-box">
      {{ error() }}
    </div>
  </mat-card>
</div>